<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <%= simple_form_for(restaurant) do |form| %>
      <%= form.input :name %>
      <%= form.association :city %>
      <%= form.input :photo %>
      <%= form.input :photo_cache, as: :hidden %>
      <%= form.button :submit, value: "Créer" %>
    <% end %>
  </div>
</div>
