<div class="restaurants">
  <h1><%= @restaurant.name %></h1>

  <%= render "restaurants/button_list" %>

  <section class="row restaurant">
    <div class="col-sm-4">
      <%= cl_image_tag(@restaurant.photo, width: 300, height: 200,
                        crop: :fill, class: "picture") %>
    </div>
    <div class="col-sm-8">
      <p>Ville: <%= @restaurant.city.name %></p>
      <p>Propriétaire: <%= @restaurant.user.username %></p>
    </div>
  </section>
</div>
